.leftmenu {
    box-sizing: inherit;
    width: 100%;
    position: relative;
    height: auto;
}
.leftmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.leftmenu ul li {
    z-index: 1;
    display: block;
    box-sizing: inherit;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    background-color: transparent;
    margin: 0 auto;
    text-align: center;
}
.leftmenu ul li:hover{
    cursor: pointer;
    background-color: #3C4144;
}

.leftmenu ul li img {
    z-index: 0;
    width: 45%;
    height: auto;
    vertical-align: middle;
}

.logout {
    position: absolute;
    top: 24rem;
}
.leftmenu ul li.logout:hover {
    transform: scale(1.1);
    background-color: transparent;
}